* {
  margin:0;
  padding: 0;
}

.navbar {
  padding: 22px 0px;
  /*background-color: #34495e !important; */
  /*border-bottom: none !important; */*/
}

.navbar li a {
  /*color:black !important;*/
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.navbar li a:hover {
  /*color:black !important;*/
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}