* {
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  padding: 22px 0px;
  /*background-color: #34495e !important; */
  /*border-bottom: none !important; */*/
}

.navbar li a {
  /*color:black !important;*/
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  color : #000000 !important;
  transition: all 0.25s ease-in;
}

.navbar li a:hover {
  /*color:black !important;*/
  text-transform: none;
  /*font-weight: 500;*/
  font-size : 15px;
  color : #ff0000 !important; 
  transition: all 0.25s ease-out; 
}

.logo-anz, .logo-te {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.logo-anz {
  color: #000000;
}

.logo-te{
  color: #ff0000;
}

/*.navbar-inverse .navbar-collapse
{
  border-color: transparent !important;
}*/