/*=====basic=====*/
body{
  height:2000px;
}

* {
  margin:0;
  padding: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
}

.anzte-red{
  color:#ff0000;
}

.anzte-black{
  color:#000000;
}
/*=====basic=====*/

/*=====header=====*/
.navbar {
  padding: 22px 0px;
  /*background-color: #34495e !important; */
  /*border-bottom: none !important; */*/  
  transition: all 0.5s ease-in-out;
}

.navbar li a {
  /*color:black !important;*/
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  color : #000000 !important;
  transition: all 0.25s ease-in;
}

.navbar li a:hover {
  /*color:black !important;*/
  text-transform: none;
  /*font-weight: 500;*/
  font-size : 15px;
  color : #ff0000 !important; 
  transition: all 0.25s ease-out; 
}

.navbar-default {
    /*background-color: #f8f8f8;*/
    /*border-color: #e7e7e7;*/
background-color: rgba(248,248,248,0.90) !important;
border-color: rgba(231,231,231,0.90) !important;
}

/*.logo-anzte{
  border: 1px solid #000000;
}*/

.logo-anz, .logo-te {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.logo-anz {
  color: #000000;
}

.logo-te{
  color: #ff0000;
}

/*.navbar-inverse .navbar-collapse
{
  border-color: transparent !important;
}*/

/*.navbar-our-location
{
  border: 1px solid #000000 !important;
}*/

.secondary
{
    /*background-color:#34495e;*/
    background-color: #ffffff !important;
}


/*=====header=====*/

/*=====section one=====*/
.slider{
  width:100%;
  height:700px;
  background-image : url(..//img/section-one-slider.jpg);
  background-size: cover;
  background-position: center;
  color:#ffffff;
}

.slider-overlay
{
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.20);
  position: relative;
}

.slider-content{
  position: absolute;
  top:39%;
  width:100%;
}

.icons .fa
{
  font-size: 35px;
  margin-right: 7px;
}

.call-to-action{
  margin-top: 30px;  
}

.call-to-action-btn1,.call-to-action-btn2{
  padding: 13px 18px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  border: 2px solid #ffffff;
  transition: all 0.25s ease-out; 
}

.call-to-action-btn1 {
  border-top-left-radius: 20px;  
  margin-right: -5px;
}

.call-to-action-btn1:hover, .call-to-action-btn2:hover{
  text-decoration: none;
  color:#ff0000;
  background-color: #eeeeee;
}

.call-to-action-btn2{  
  width: 50px;
  border-bottom-right-radius: 20px;
}

.social-networks a.fa {
border:1px solid white;
padding: 10px;
color: #000000;
width: 41px;
height: 41px;
border-radius: 50%;
margin: 2px;
font-size: 20px;
}

.social-networks a.fa:hover{
  text-decoration: none;
  color:#ff0000;
  transition: all 0.25s ease-in; 
}

.slider .section-one-slider-text, .slider .typed-cursor{
  display: inline;
  font-size: 30px;
}

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  }

@keyframes blink
{
  0%   {     opacity: 1;   }
  50%   {     opacity: 0;   }
  100%   {     opacity: 1;   }
}

@-webkit-keyframes blink
{
  0%   {     opacity: 1;   }
  50%   {     opacity: 0;   }
  100%   {     opacity: 1;   }
}

@-moz-keyframes blink
{
  0%   {     opacity: 1;   }
  50%   {     opacity: 0;   }
  100%   {     opacity: 1;   }
}

/*=====section one=====*/